<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ergasia sotiropoylos</title>
</head>
<body>
    {%include 'header.html' %}
    {% include 'navbar.html' %}

    {% block title %}
        <h1>ergasia sotiropoylos</h1>
    {% endblock %}
    {% block content %}
        <h1>home template</h1>
    {% endblock %}
    {% block scripts %}
    {% endblock %}  
    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}

</body>
</html>